body{
    display: flex;
    margin: 0;
}

#left{
    display: flex;
    background-image: url(leaf.jpg);
    height: 100vh;
    width: 40%;
}
#right{
    display: flex;
    height: 100vh;
    width: 60%;
    background-color: whitesmoke;
}
h1{
    font-size: 4rem;
    color: white;
}
#title{
    display: flex;
    background-color: black;
    opacity: 80%;
    position: absolute;
    top: 20%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

#title > img{
    opacity: 100%;
    color: white;
}
#title > h1{
    opacity: 100%;
    color: white;
}
label, input{
    display: flex;
    flex-direction: column;
}
input{
    padding: 4px;
    margin-top: 4px;
}
.formmain{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.formmain > h2{
    display: flex;
    width: 100%;
    text-align: left;
    padding: 8px;
}
.formdiv{
    height: 50px;
    width: 30%;
    padding: 8px;
}
.top{
    font-weight: bold;
    font-size: 1.5em;
}
#toparea{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 4px;
}
#bottomarea{
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 8px;
    font-weight: bold;
    font-size: 1em;
}
#submitbutton{
    padding: 8px;
    font-weight: bold;
    margin: 4px;
    margin-top: 8px;
    color: white;
    background-color: green;
}
:invalid{
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}