body{
    display: flex;
    margin: 0;
}
#left{
    display: flex;
    background-image: url(leaf.jpg);
    height: 100vh;
    width: 40%;
}
#right{
    display: flex;
    height: 100vh;
    width: 60%;
    background-color: whitesmoke;
}